<%  include  template/1.ejs %>
<link rel="stylesheet" href="/public/master.css">
<h1>
  <% a %>
</h1>
<form class="" action="" method="post">
  <span for="login">Login</span>
  <input type="text" name="login" id="login" placeholder="login">
  <span for="pass">Password</span>
  <input type="password" name="password" id="pas" placeholder="password">
  <button type="submit" name="button">Enter</button>
</form>
<p>fghfrty</p>
